body {
    font-family: Arial, sans-serif;
    background: #f4f6f7;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(im2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.login-container {
    background: white;
    width: 90%;
    max-width: 380px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
     box-shadow: 0 4px 10px rgb(0,0,0.2);

}

.logop{
    position: absolute;
    top: 70px;
    left: 48%;
}


img{
    width:120px ;
    height: 80px;
    object-fit: cover;
    border-radius: 50px;
    padding: 5px;
margin-left: 35%;
}

h2 {
    text-align: center;
    color: #2ecc71;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    margin-top: 12px;
    display: block;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #2ecc71;
    border-radius: 5px;
    font-size: 14px;
}

.btn {
    width: 100%;
    margin-top: 25px;
    padding: 12px;
    background: #2ecc71;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background: #27ae60;
}

#error {
    margin-top: 12px;
    text-align: center;
    font-size: 14px;
}
/* POPUP OVERLAY */
.success-popup {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
footer{
    text-align: center;
    color: blue;
}
/* POPUP BOX */
.success-box {
    background: #fff;
    width: 90%;
    max-width: 320px;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    animation: popupScale 0.4s ease;
}

/* CHECKMARK */
.checkmark {
    width: 70px;
    height: 70px;
    margin: 0 auto 10px;
}

.checkmark svg {
    width: 100%;
    height: 100%;
}

.checkmark circle {
    stroke: #2ecc71;
    stroke-width: 4;
    stroke-dasharray: 157;
    stroke-dashoffset: 157;
    animation: circleDraw 0.6s forwards;
}

.checkmark path {
    stroke: #2ecc71;
    stroke-width: 4;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: tickDraw 0.4s 0.6s forwards;
}

/* TEXT */
.success-box h3 {
    color: #2ecc71;
    margin-top: 10px;
}

.success-box p {
    font-size: 14px;
    margin: 10px 0 20px;
}

/* BUTTON */
.success-box button {
    background: #2ecc71;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
}

/* ANIMATIONS */
@keyframes popupScale {
    from {
        transform: scale(0.7);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes circleDraw {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes tickDraw {
    to {
        stroke-dashoffset: 0;
    }
}
